@model CarControl.Web.Models.CarViewModel

<div>
    <h4>CarViewModel</h4>
    <h4>Id: @Model.Id</h4>
    <h4>Name: @Model.Name</h4>
    <p>@Html.ActionLink("Пинг", "Ping", new { id = Model.Id })</p>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
