@model IEnumerable<CarControl.Web.Models.CarViewModel>


@{
    ViewBag.Title = "Список подключенных устройств";
}

<h2>Список подключенных устройств</h2>

@foreach (var item in Model)
{
    @Html.Partial("_Details", item);
}

<p>
    @Html.ActionLink("Вернуться к списку подключений", "Index")
</p>

